/* // variables/_colors.scss */
/*
// https://www.color-name.com/
*/

$test: #aaa;

$white: #ffffff;
$black: #000000;

$white4: #fffff4;
$whiteCream: #f0fcff;

$lightBlue: #f4fdff;
$darkBlue: #0a184d; // PRIMARY
$darkBlue2: #24303f;

$darkGunmetal: #1a222c;
$antiFlashWhite: #f1f5f9;

$secondary: #ff8375;
$tertiary: #ffd82a;
