/* stylelint */

$checkbox-switcher-size: 4rem;
$radio-slider-size: 4rem;

.toggle-switcher {
  input[type='checkbox'] {
    @apply invisible h-0 w-0;
  }

  label {
    @apply cursor-pointer -indent-[999px];
    @apply w-[#{$checkbox-switcher-size}] h-[calc(#{$checkbox-switcher-size}_/_2)];
    @apply relative block rounded-[calc(#{$checkbox-switcher-size}_/_2)] border bg-gray-500;

    &.show {
      @apply flex items-center justify-end px-3 indent-0 uppercase text-white;
    }
  }

  label:before {
    content: '';
    left: 0.313rem;
    @apply top-[calc(#{$checkbox-switcher-size}_/_16)];

    @apply h-[calc(#{$checkbox-switcher-size}_/_3)] w-[calc(#{$checkbox-switcher-size}_/_3)];
    @apply absolute rounded-[1.5rem] bg-white duration-200;
  }

  input:checked + label:before {
    @apply left-[calc(100%_-_5px)] -translate-x-full;
  }

  input:checked + label.show {
    @apply justify-start;
  }

  label:active:before {
    @apply w-10;
  }
}

.radio-slider {
  @apply relative;
}
