/* //tailwind/_base.scss */
@use '@style/variables/colors' as color;
@use '@style/variables/globals' as global;

/*
// DEFAULT: light theme
// No need to use [data-theme='light']
//
*/
:root {
  background-color: #ffffff;
  --color-bg-button: #{color.$warmBlue};
  --color-bg-primary: #{color.$light1};
  --color-bg-secondary: #{color.$light2};
  --color-bg-tertiary: #{color.$test};
  --color-text-button: #{color.$test};
  --color-text-primary: #{color.$black};
  --color-text-secondary: #{color.$test};
  --color-text-tertiary: #{color.$test};

  &[data-theme='dark'] {
    --color-bg-button: #{color.$warmBlue};
    --color-bg-primary: #{color.$dark1};
    --color-bg-secondary: #{color.$dark2};
    --color-bg-tertiary: #{color.$test};
    --color-text-button: #{color.$test};
    --color-text-primary: #{color.$white};
    --color-text-secondary: #{color.$test};
    --color-text-tertiary: #{color.$test};
  }

  /*
  //// https://fr.wikipedia.org/wiki/Tetrachromatisme => Tétrachromatie
  */
  &[data-theme='tetrachromacy'] {
    --color-bg-button: #{color.$warmBlue};
    --color-bg-primary: #{color.$test};
    --color-bg-secondary: #{color.$test};
    --color-bg-tertiary: #{color.$test};
    --color-text-button: #{color.$test};
    --color-text-primary: #{color.$test};
    --color-text-secondary: #{color.$test};
    --color-text-tertiary: #{color.$test};
  }

  /*
  //// https://fr.wikipedia.org/wiki/Daltonisme => Achromatopsie
  */
  &[data-theme='achromatopsia'] {
    --color-bg-button: #{color.$warmBlue};
    --color-bg-primary: #{color.$test};
    --color-bg-secondary: #{color.$test};
    --color-bg-tertiary: #{color.$test};
    --color-text-button: #{color.$test};
    --color-text-primary: #{color.$test};
    --color-text-secondary: #{color.$test};
    --color-text-tertiary: #{color.$test};
  }

  /*
  //// https://fr.wikipedia.org/wiki/Daltonisme => Protanopie
  */
  &[data-theme='protanopia'] {
    --color-bg-button: #{color.$warmBlue};
    --color-bg-primary: #{color.$test};
    --color-bg-secondary: #{color.$test};
    --color-bg-tertiary: #{color.$test};
    --color-text-button: #{color.$test};
    --color-text-primary: #{color.$test};
    --color-text-secondary: #{color.$test};
    --color-text-tertiary: #{color.$test};
  }

  /*
  //// https://fr.wikipedia.org/wiki/Daltonisme => Protanomalie
  */
  &[data-theme='protanomaly'] {
    --color-bg-button: #{color.$warmBlue};
    --color-bg-primary: #{color.$test};
    --color-bg-secondary: #{color.$test};
    --color-bg-tertiary: #{color.$test};
    --color-text-button: #{color.$test};
    --color-text-primary: #{color.$test};
    --color-text-secondary: #{color.$test};
    --color-text-tertiary: #{color.$test};
  }

  /*
  //// https://fr.wikipedia.org/wiki/Daltonisme => Deutéranopie
  */
  &[data-theme='deuteranopia'] {
    --color-bg-button: #{color.$warmBlue};
    --color-bg-primary: #{color.$test};
    --color-bg-secondary: #{color.$test};
    --color-bg-tertiary: #{color.$test};
    --color-text-button: #{color.$test};
    --color-text-primary: #{color.$test};
    --color-text-secondary: #{color.$test};
    --color-text-tertiary: #{color.$test};
  }

  /*
  //// https://fr.wikipedia.org/wiki/Daltonisme => Deutéranomalie
  */
  &[data-theme='deuteranomaly'] {
    --color-bg-button: #{color.$warmBlue};
    --color-bg-primary: #{color.$test};
    --color-bg-secondary: #{color.$test};
    --color-bg-tertiary: #{color.$test};
    --color-text-button: #{color.$test};
    --color-text-primary: #{color.$test};
    --color-text-secondary: #{color.$test};
    --color-text-tertiary: #{color.$test};
  }

  /*
  //// https://fr.wikipedia.org/wiki/Daltonisme => Tritanopie
  */
  &[data-theme='tritanopia'] {
    --color-bg-button: #{color.$warmBlue};
    --color-bg-primary: #{color.$test};
    --color-bg-secondary: #{color.$test};
    --color-bg-tertiary: #{color.$test};
    --color-text-button: #{color.$test};
    --color-text-primary: #{color.$test};
    --color-text-secondary: #{color.$test};
    --color-text-tertiary: #{color.$test};
  }

  /*
  /// https://fr.wikipedia.org/wiki/Daltonisme => Tritanomalie
  */
  &[data-theme='tritanomaly'] {
    --color-bg-button: #{color.$warmBlue};
    --color-bg-primary: #{color.$test};
    --color-bg-secondary: #{color.$test};
    --color-bg-tertiary: #{color.$test};
    --color-text-button: #{color.$test};
    --color-text-primary: #{color.$test};
    --color-text-secondary: #{color.$test};
    --color-text-tertiary: #{color.$test};
  }
}

html,
:host {
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  @apply h-full min-h-screen select-none font-satoshi antialiased;
}

body,
#root {
  @apply h-[inherit];
}

body {
  /* // Use primary colors + transition for 300ms on change  */
  @apply bg-primary text-primary transition-[background-color,color] duration-300;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

p {
  @apply text-base;
}

a {
  @apply decoration-inherit hover:underline;
}

button,
a {
  @apply cursor-pointer;
}

form {
  @apply flex flex-col;
}

figure,
img,
svg {
  /* // Disable 'draggable' items */
  @apply pointer-events-none;
}

figure {
  > img {
    @apply mx-auto my-0;
  }
  > figcaption {
    @apply text-justify;
  }
}
