/* //tailwind/_base.scss */
@use '@style/variables/colors' as color;
@use '@style/variables/globals' as global;

:root {
  color-scheme: light;

  --color-white: #{color.$white};
  --color-primary: #{color.$primary};
  --color-secondary: #{color.$secondary};
  --color-tertiary: #{color.$tertiary};

  &[data-theme='system'][data-is-dark='true'],
  &[data-theme='dark'] {
    color-scheme: dark;
  }
}

html,
:host {
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  @apply h-full min-h-screen select-none font-satoshi antialiased;
}

body,
#root {
  @apply h-[inherit];
}

body {
  /* // Use primary colors + transition for 300ms on change  */
  @apply bg-primary text-primary transition-[background-color,color] duration-300;
}

main {
  @apply p-3;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

p {
  @apply text-base;
}

a {
  @apply decoration-inherit hover:underline;
}

button,
a {
  @apply cursor-pointer;
}

form {
  @apply flex flex-col;
}

figure,
img,
svg {
  /* // Disable 'draggable' items */
  @apply pointer-events-none;
}

figure {
  > img {
    @apply mx-auto my-0;
  }
  > figcaption {
    @apply text-justify;
  }
}
