@use 'sass:meta';
/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@include meta.load-css('mixins');

$color_01: '';
$color_02: '';
$color_03: '';
$color_04: '';
$color_05: '';
$color_06: '';
$color_07: '';
$color_08: '';
$color_09: '';
$color_10: '';
$color_11: '';
$color_12: '';

/* TEST */
$color_XX: #c2c2c2;

@include meta.load-css('font_satoshi');

$default-font-family: Satoshi, sans-serif;

:root {
  --primary-light-bg-color: var(#{$color_01});
  --secondary-light-bg-color: var(#{$color_02});
  --tertiary-light-bg-color: var(#{$color_03});

  --primary-dark-text-color: var(#{$color_04});
  --secondary-dark-text-color: var(#{$color_05});
  --tertiary-dark-text-color: var(#{$color_06});

  --font-family-sans-serif: #{meta.inspect($default-font-family)} color-scheme: light
    dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  @apply leading-normal antialiased;
}

@layer base {
  @include meta.load-css('tw_base');
}
@layer components {
  @include meta.load-css('tw_components');
}
@layer utilities {
  @include meta.load-css('tw_utilities');
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg-color: var(#{$color_01});
    --secondary-bg-color: var(#{$color_02});
    --tertiary-bg-color: var(#{$color_03});

    --primary-text-color: var(#{$color_04});
    --secondary-text-color: var(#{$color_05});
    --tertiary-text-color: var(#{$color_06});
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-bg-color: var(#{$color_07});
    --secondary-bg-color: var(#{$color_08});
    --tertiary-bg-color: var(#{$color_09});

    --primary-text-color: var(#{$color_10});
    --secondary-text-color: var(#{$color_11});
    --tertiary-text-color: var(#{$color_12});
  }
}

@media (prefers-color-scheme: protanopia) {
  :root {
    --primary-bg-color: var(#{$color_XX});
    --secondary-bg-color: var(#{$color_XX});
    --tertiary-bg-color: var(#{$color_XX});

    --primary-text-color: var(#{$color_XX});
    --secondary-text-color: var(#{$color_XX});
    --tertiary-text-color: var(#{$color_XX});
  }
}

@media (prefers-color-scheme: protanomaly) {
  :root {
    --primary-bg-color: var(#{$color_XX});
    --secondary-bg-color: var(#{$color_XX});
    --tertiary-bg-color: var(#{$color_XX});

    --primary-text-color: var(#{$color_XX});
    --secondary-text-color: var(#{$color_XX});
    --tertiary-text-color: var(#{$color_XX});
  }
}

@media (prefers-color-scheme: deuteranopia) {
  :root {
    --primary-bg-color: var(#{$color_XX});
    --secondary-bg-color: var(#{$color_XX});
    --tertiary-bg-color: var(#{$color_XX});

    --primary-text-color: var(#{$color_XX});
    --secondary-text-color: var(#{$color_XX});
    --tertiary-text-color: var(#{$color_XX});
  }
}

@media (prefers-color-scheme: deuteranomaly) {
  :root {
    --primary-bg-color: var(#{$color_XX});
    --secondary-bg-color: var(#{$color_XX});
    --tertiary-bg-color: var(#{$color_XX});

    --primary-text-color: var(#{$color_XX});
    --secondary-text-color: var(#{$color_XX});
    --tertiary-text-color: var(#{$color_XX});
  }
}

@media (prefers-color-scheme: tritanopia) {
  :root {
    --primary-bg-color: var(#{$color_XX});
    --secondary-bg-color: var(#{$color_XX});
    --tertiary-bg-color: var(#{$color_XX});

    --primary-text-color: var(#{$color_XX});
    --secondary-text-color: var(#{$color_XX});
    --tertiary-text-color: var(#{$color_XX});
  }
}

@media (prefers-color-scheme: tritanomaly) {
  :root {
    --primary-bg-color: var(#{$color_XX});
    --secondary-bg-color: var(#{$color_XX});
    --tertiary-bg-color: var(#{$color_XX});

    --primary-text-color: var(#{$color_XX});
    --secondary-text-color: var(#{$color_XX});
    --tertiary-text-color: var(#{$color_XX});
  }
}

/* Monochromacy */
@media (prefers-color-scheme: achromatopsia) {
  :root {
    --primary-bg-color: var(#{$color_XX});
    --secondary-bg-color: var(#{$color_XX});
    --tertiary-bg-color: var(#{$color_XX});

    --primary-text-color: var(#{$color_XX});
    --secondary-text-color: var(#{$color_XX});
    --tertiary-text-color: var(#{$color_XX});
  }
}

@media (prefers-color-scheme: tetrachromacy) {
  :root {
    --primary-bg-color: var(#{$color_XX});
    --secondary-bg-color: var(#{$color_XX});
    --tertiary-bg-color: var(#{$color_XX});

    --primary-text-color: var(#{$color_XX});
    --secondary-text-color: var(#{$color_XX});
    --tertiary-text-color: var(#{$color_XX});
  }
}

/* 
a {
  @apply decoration-inherit;
}

body {
  @apply flex place-items-center min-w-[320px] min-h-screen m-0;
}

h1 {
  @apply text-[3.2em] leading-[1.1];
}

button {
  @apply border text-[1em] font-medium bg-[#1a1a1a] cursor-pointer transition-[border-color] duration-[0.25s] px-[1.2em] py-[0.6em] rounded-lg border-solid border-transparent hover:border-[#646cff];
  font-family: inherit;
}

button:focus,
button:focus-visible {
  outline: 0.25rem auto -webkit-focus-ring-color;
}

form,
form > label {
  @apply flex flex-col;
}
*/
