/*
//// ./styles
////  |____ ./fonts
////         |____ ./satoshi.scss
////  |____ ./_mixins.scss
////  |____ ./tailwind
////         |____ ./base.scss
////         |____ ./components.scss
////         |____ ./utilities.scss
////         |____ ./variants.scss
////  |____ ./variables
////         |____ ./_colors.scss
////         |____ ./_globals.scss
////  |____ ./root.scss <= (root file)
*/
@use 'sass:meta';

// @use '@style/mixins';

@tailwind base;
@layer base {
  @include meta.load-css('@style/tailwind/base');
}

@tailwind components;
@layer components {
  @include meta.load-css('@style/tailwind/components');
}

@tailwind utilities;
@layer utilities {
  @include meta.load-css('@style/tailwind/utilities');
}

@tailwind variants;
@layer variants {
  @include meta.load-css('@style/tailwind/variants');
}

$headerHeight: 6rem;
$sidebarWidth: 15rem;
$switchCheckboxSize: 1.8rem;

/* // Layouts */
#layout-auth,
#layout-default {
  @apply flex h-full;
  header {
    @apply h-[#{$headerHeight}] w-full;
  }
}
#layout-auth {
  @apply flex-col;
  > main {
    @apply flex flex-1 flex-row;
    > section {
      @apply flex flex-1 items-center justify-center px-4 md:px-16 xl:px-32;
      > div,
      form {
        @apply w-full;
      }
      &#auth-info {
        @apply max-lg:hidden;
        // img.show-on-sidebar {
        //   @apply hidden;
        // }
        figure {
          @apply pb-4;
        }
        p {
          @apply mx-auto my-0 text-center;
        }
      }
    }
  }
}

/* // Menu Burger + Logo */
#floating-header-logo {
  @apply h-[#{$headerHeight}] w-[#{$sidebarWidth}] absolute left-0 top-0 z-[1] flex items-center;
  /* // Logo */
  .logo-container {
    @apply inline-flex flex-1;
    figure,
    figure > img:nth-of-type(1) {
      @apply relative left-0 top-0;
    }
    figure > img:nth-of-type(2) {
      @apply absolute left-0 top-0;
    }
    /* always display 'white Logo' when sidebar is OPEN */
    // img.show-on-sidebar {
    //   @apply max-lg:hidden;
    // }
  }
  /* // Menu Burger */
  label[for='checkbox-toggle-sidebar'] {
    @apply relative mx-2 hidden h-8 w-10 cursor-pointer justify-center bg-transparent max-lg:inline-flex;

    > span {
      @apply absolute left-0 block h-1 w-full bg-slate-400 opacity-100;
      @apply origin-[left_center] rotate-0 rounded-lg duration-300 ease-in-out;

      &:nth-of-type(1) {
        @apply top-0;
      }
      &:nth-of-type(2) {
        @apply top-1/2 -translate-y-1/2;
      }
      &:nth-of-type(3) {
        @apply top-full -translate-y-full;
      }
    }
  }
}
input#checkbox-toggle-sidebar:checked + #floating-header-logo {
  @apply flex-row-reverse;
  // .logo-container img.show-on-sidebar {
  //   @apply block;
  // }
  > label[for='checkbox-toggle-sidebar'] > span {
    @apply left-1 bg-red-400;
    &:nth-of-type(1) {
      @apply rotate-45;
    }
    &:nth-of-type(2) {
      @apply w-0 opacity-0;
    }
    &:nth-of-type(3) {
      @apply -rotate-45;
    }
  }
}

/* // Sidebar Menu */
#layout-default {
  @apply flex-row-reverse;

  > #outer-content {
    @apply flex w-full flex-1 flex-col;
    @apply translate-x-0 translate-y-0 transition-all translate-z-0;

    main.content {
      @apply flex-1 bg-white p-4;
    }
  }
  > aside#menu-sidebar {
    @apply pt-[#{$headerHeight}] w-[#{$sidebarWidth}] left-0 flex h-full flex-col border-r bg-[--color-dark-slate-grey] text-white max-lg:absolute;
    @apply max-lg:-translate-x-[#{$sidebarWidth}] -translate-x-0 translate-y-0 transition-all translate-z-0;

    > :nth-of-type(1) {
      @apply flex-1;
    }
    > :nth-of-type(2) {
      @apply py-6;
    }

    #change-theme {
      @apply m-auto flex w-56 flex-row justify-between rounded-md bg-slate-300 p-1 text-slate-600;

      div {
        > label {
          @apply block h-full w-16 cursor-pointer rounded-sm bg-white text-center uppercase leading-[2rem];
          font-size: 0.75rem;

          &:has(+ div > input:checked) {
            @apply bg-slate-600 font-bold text-white;
          }
        }
        > div:has(input) {
          @apply hidden;
        }
      }
    }
  }

  > input#checkbox-toggle-sidebar {
    @apply absolute opacity-0;
    &:checked {
      ~ #outer-content,
      ~ aside#menu-sidebar {
        @apply translate-x-0 translate-y-0 translate-z-0;
      }
    }
  }
}

/* // Header */
header {
  @apply flex flex-row justify-between px-4;

  #header-right {
    @apply flex flex-row items-center gap-x-4;

    #change-language {
      @apply mx-0 my-auto;
    }
  }

  #change-language {
    @apply mx-0 my-auto inline-flex;
    label[for='checkbox-toggle-language'] {
      @apply absolute z-[1] cursor-pointer text-center text-sm uppercase text-slate-600;
      line-height: calc(#{$switchCheckboxSize} * 0.85);
      margin-top: calc(#{$switchCheckboxSize} * 0.1);
      margin-left: calc(#{$switchCheckboxSize} * 0.1);
      width: calc(#{$switchCheckboxSize} * 0.8);
      font-size: 0.625rem;

      &:has(~ input[type='checkbox']:checked) {
        margin-left: calc(#{$switchCheckboxSize} * 0.9);
      }
    }
    input[type='checkbox'] {
      @apply relative cursor-pointer appearance-none bg-slate-300;

      height: #{$switchCheckboxSize};
      width: calc(#{$switchCheckboxSize} * 1.8);
      border-radius: calc(#{$switchCheckboxSize} / 4);

      &::before {
        @apply absolute block bg-white transition-[left] content-[''];
        height: calc(#{$switchCheckboxSize} * 0.7);
        width: calc(#{$switchCheckboxSize} * 0.7);
        top: calc(#{$switchCheckboxSize} * 0.15);
        left: calc(#{$switchCheckboxSize} * 0.15);
        border-radius: calc(#{$switchCheckboxSize} / 4);
      }
      &:checked::before {
        left: calc(#{$switchCheckboxSize} * 0.95);
      }
    }
  }
}
